

* {
  background: linear-gradient(
  180deg
  ,#000451 0,#183cf3 50%,#000451);
  font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.que {
  color: antiquewhite;
  text-align: center;
  font-weight: bolder;
  font-size: 1.7em;
  padding: 20px;
}

.username {
  color:antiquewhite;
}

.modal {
  margin: auto;
  background-color: #5a95e2;
  width: 470px;
  max-width: 100%;
  padding: 0;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  border-left-width: .5px;
}